<div class="lr-margin">
  <h2><i>em-helpers</i> Demo</h2>
</div>

<hr/>

<div class="lr-margin">
  {{#link-to 'txt'}}
    <h4 class="inline">txt helper</h4>
  {{/link-to}}
  &nbsp;
  {{#link-to 'em-progress'}}
    <h4 class="inline">em-progress</h4>
  {{/link-to}}
</div>

<hr/>

<div class="lr-margin">
{{outlet}}
</div>

<br/>

<div class="lr-margin">
  <i>Click on the respective helper for demo</i>
</div>
